Example for .env file
GOOGLE_ID=
GOOGLE_SECRET=
MONGO_USER_PASSWORD=
NEXTAUTH_SECRET=
MONGODB_URI=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PUSHER_app_id = 
NEXT_PUBLIC_PUSHER_key = 
PUSHER_secret = 
PUSHER_cluster =      
GEMINI_API_KEY=